.addressRow{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th{
    height: 50px;
    font-size: medium;
    color: black;
}

.customEmployeeWidth{
    width: 110px;
}
.customVehicleWidth{
    width: 80px;
}
.customStockWidth{
    width: 180px;
}

.mat-sort-header-container {
    display:flex;
    justify-content:center;
}

h1{
    margin-bottom: 18px;
    text-align: center;
}

th.mat-sort-header-sorted {
    color: black;
}

.newButton{
    margin-bottom: 18px;
}
.newStockButtonDiv{
    text-align: center;
}

.saveButton{
    margin-left: 10%;
}

.backGround{
    opacity: 5%;
    position: absolute;
    transform: scale(33);
    z-index: -1;
    top: 50%;
    left: 25%;
}

::ng-deep .success {
    background: green;
    color: white;
}

::ng-deep .error {
    background: red;
    color: white;
}

a:hover{
    cursor: pointer;
}

.empAndVehicleTable{
    display: flex;
    justify-content: space-evenly;
}

.stockTableDiv{
    display: flex;
    justify-content: space-evenly;
}

.tableButton{
    margin-bottom: 12px;
}