<div mat-dialog-title>
    <h1 style="text-align: center;">Készlet részletei </h1>
  </div>
  
  <div mat-dialog-content>
    <form #addForm="ngForm" [formGroup]="stockForm">
        <div>
            <h2>Termék</h2>
            <mat-form-field appearance="standard">
              <mat-select [(ngModel)]="data.stock.product" formControlName="productName">
                <mat-option *ngFor="let product of products" [value]="product.productName">
                    {{ product.productName }} C: {{ product.code }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productName.errors?.required && (productName.dirty || productName.touched)"> Kérem adja meg a terméket! </mat-error>
            </mat-form-field>
          </div>
        <div>
        <h2>Mennyiség</h2>
        <mat-form-field appearance="standard">
          <input matInput placeholder="eg. 100" [(ngModel)]="data.stock.quantity" name="quantity" formControlName="quantity">
          <mat-error *ngIf="quantity.errors?.required && (quantity.dirty || quantity.touched)"> Kérem adja meg a mennyiséget! </mat-error>
          <mat-error *ngIf="quantity.errors?.pattern && (quantity.dirty || quantity.touched)"> Helytelen formátum! (pl. 2000) </mat-error>
        </mat-form-field>
      </div>
      <div>
        <h2>Egység</h2>
        <mat-form-field appearance="standard">
          <input matInput placeholder="eg. kg" [(ngModel)]="data.stock.unit" name="unit" formControlName="unit">
          <mat-error *ngIf="unit.errors?.required && (unit.dirty || unit.touched)"> Kérem adja meg az egységet! </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  
  <div mat-dialog-action style="display: flex; justify-content: space-evenly;">
    <button mat-flat-button (click)="saveStock()" [disabled]="stockForm.invalid" color="primary">Mentés</button>
  
    <button mat-flat-button (click)="openConfDialog()" *ngIf="!data.isNew" color="primary" >Törlés</button>
  </div>