.saveButton,.partnerName{
    margin-left: 20%;
}

.backGround{
    opacity: 5%;
    position: absolute;
    transform: scale(33);
    z-index: -0.5;
    top: 60%;
    left: 25%;
}

h2{
    margin-bottom: 5px;
}

.header{
    text-align: center;
}

.partnerInfo{
    display: flex;
    margin-left: 20%;
}
.location,.contact,.otherInfo{
    margin-right: 120px;
}

.contactLastName,.contactFirstName{
    padding-top: 0;
    display: inline;
}

h3{
    margin-bottom: 7px;
}

hr{
    width: 80%;
}

::ng-deep .success {
    background: green;
    color: white;
}

::ng-deep .error {
    background: red;
    color: white;
}