table {
    width: 80%;
    margin: 0 auto 0 auto;
}

th{
    height: 50px;
    font-size: medium;
}

th,td{
    width: 30%;
}

h1{
    margin-left: 40px;
    text-align: center;
}

th.mat-sort-header-sorted {
    color: black;
}
