table {
    width: 80%;
    margin: 0 auto 18px auto;
}

th{
    height: 60px;
    font-size: medium;
    color: black;
}

td{
    height: auto;
}

th,td{
    width: 15%;
}

h1{
    margin-left: 40px;
    margin-bottom: 18px;
    text-align: center;
}

th.mat-sort-header-sorted {
    color: black;
}

.newButton{
    margin-left: 10%;
    margin-bottom: 18px;
}
a{
    cursor: pointer;
}

.backGround{
    opacity: 0.05;
    position: absolute;
    transform: scale(33);
    z-index: -1;
    top: 50%;
    left: 20%;
}

::ng-deep .success {
    background: green;
    color: white;
}

::ng-deep .error {
    background: red;
    color: white;
}