<mat-icon class="backGround">perm_contact_calendar</mat-icon>

<h1>Munkatársaink</h1>

<button mat-raised-button 
        (click)="showDetailedEmployee()" 
        class="newButton" 
        color="primary"><mat-icon>plus_one</mat-icon> Új dolgozó felvétele </button>

<table mat-table [dataSource]="employeeTableDatasource" matSort matSortActive="id" matSortDirection="asc" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let employee"> <a (click)="showDetailedEmployee(employee)"> {{employee.id}} </a> </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Név </th>
      <td mat-cell *matCellDef="let employee"> <a (click)="showDetailedEmployee(employee)"> {{employee.lastName}} {{ employee.firstName }} </a> </td>
    </ng-container>
  
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefonszám </th>
      <td mat-cell *matCellDef="let employee"><a (click)="showDetailedEmployee(employee)"> {{employee.phoneNumber}} </a></td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email cím </th>
      <td mat-cell *matCellDef="let employee"> <a (click)="showDetailedEmployee(employee)"> {{employee.email }} </a> </td>
    </ng-container>

    <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Munkakör </th>
        <td mat-cell *matCellDef="let employee">
          <a (click)="showDetailedEmployee(employee)"> 
            {{employee.department}}  
            <mat-icon *ngIf="employee.department == 'Vezető'" matSuffix style="margin-left: 5px;">work</mat-icon> 
            <mat-icon *ngIf="employee.department == 'Pénzügy'" matSuffix style="margin-left: 5px;">attach_money</mat-icon>
            <mat-icon *ngIf="employee.department == 'Logisztika'" matSuffix style="margin-left: 5px;">format_list_numbered</mat-icon>
            <mat-icon *ngIf="employee.department == 'Munkás'" matSuffix style="margin-left: 5px;">home_work</mat-icon>
          </a>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="userButton">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Felhasználó kezelése </th>
        <td mat-cell *matCellDef="let employee" style="text-align: center;">
          <button mat-raised-button 
                  (click)="openDialog(employee)" 
                  color="primary" 
                  [disabled]="!(getAuthService().appUser.appUserGroup == 'ROLE_ADMIN')" 
                  *ngIf="employee.department != 'Munkás'"><mat-icon>create</mat-icon> Módosítás </button> 
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
