*{
    margin: 0;
}

.passwordField, .usernameField, .saveButton{
    position: absolute;
}

.passwordField{
    left: 60vh;
    top: 40vh;
}

.usernameField{
    left: 60vh;
    top: 30vh;
}

.saveButton{
    left: 90vh;
    top: 40vh;
}

::ng-deep .success {
    background: green;
    color: white;
}

::ng-deep .error {
    background: red;
    color: white;
}