
.appName{
    position: absolute;
    top: 30vh;
    left: 40vh;
    color: rgb(165, 83, 97);
    font-style: italic;
    font-size: 64px;
    letter-spacing: 3px;
}

form{
    position: absolute;
    top: 50vh;
    left: 40vh;
}

.usernameField, .passwordField{
    margin-right: 10px;
}

::ng-deep .success {
    background: green;
    color: white;
}

::ng-deep .error {
    background: red;
    color: white;
}