h1,.buttonRow{
    margin-left: 20%;
}

form{
    margin-left: 25%;
}

.nameRow, .contactRow{
    display: flex;
}

.lastName, .phoneNumber{
    margin-right: 30px;
}

.saveButton{
    margin-right: 15px;
}

::ng-deep .mat-form-field{
    width: 250px !important;
}

::ng-deep .success {
    background: green;
    color: white;
}

::ng-deep .error {
    background: red;
    color: white;
}