<mat-toolbar color="primary" *ngIf="getAuthService().isLoggedIn" >
  <mat-toolbar-row>
    <h2 style="color: pink; font-size: 28px; font-style: italic;"> Core </h2>
    <span class="menu-spacer"></span>
    <div>
      <button mat-button [matMenuTriggerFor]="vallalat"><mat-icon>account_box</mat-icon> Vállalat </button>
      <mat-menu #vallalat="matMenu">
        <a mat-menu-item [routerLink]="'/partnerForm'" [queryParams]="{own: 'own'}"> Saját vállalat </a>
        <a mat-menu-item [routerLink]="'/employeeList'"> Dolgozók </a>
        <a mat-menu-item [routerLink]="'/productTree'"> Termékek </a>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="penz"><mat-icon>local_atm</mat-icon> Pénzügy </button>
      <mat-menu #penz="matMenu">
        <a mat-menu-item [routerLink]="'/invoiceList'"> Számlák </a>
        <a mat-menu-item [routerLink]="'/offerList'"> Rendelések </a>
        <a mat-menu-item [routerLink]="'/partnerList'"> Partnerek </a>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="raktar"><mat-icon>widgets</mat-icon> Raktárkezelés </button>
      <mat-menu #raktar="matMenu">
        <a mat-menu-item [routerLink]="'/vehicleList'"> Gépjárművek </a>
        <a mat-menu-item [routerLink]="'/warehouses'"> Raktárak </a>
      </mat-menu>
      <button mat-button [routerLink]="'/schedule'"><mat-icon>local_shipping</mat-icon> Forgalomkezelés </button>
    </div>
    <span class="example-spacer"></span>
    <mat-icon style="margin-right: 10px;">person_pin</mat-icon>
    <h3>{{ getAuthService().appUser.employee.lastName }} {{ getAuthService().appUser.employee.firstName }}</h3>
    <button mat-flat-button (click)="getAuthService().logout()" class="logout-button">Kilépés</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>