<div class="tmp">
    <div class="col-md-4">
      <div class="btn-group">
        <button
            mat-raised-button
            color="primary"
          class="dataChangerButton"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate); getEvents()"
        >
          Előző
        </button>
        <button
            mat-raised-button
            color="accent"
            class="dataChangerButton"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate); getEvents()"
        >
          Ma
        </button>
        <button
            mat-raised-button
            color="primary"
            class="dataChangerButton"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate); getEvents()"
        >
          Következő
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <h2>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h2>
    </div>
  </div>

<ng-template #loading>
  <div class="text-center">
    <mat-icon>hourglass_empty</mat-icon> Utak betöltése...
  </div>
</ng-template>


<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cell" (mouseenter)="inDay = day" (mouseleave)="inDay = null">
        <div class="cal-cell-top">
            <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
              >{{ day.badgeTotal }}</span
            >
            <span class="cal-day-number"
              >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
            >
          </div>
    </div>
    <button *ngIf="sameMonth(day) && (day.date > today || isToday(day))" 
            style="width: 100%;" 
            mat-button (click)="openDialog(day)" 
            style="color:white;"
            (mouseenter)="inDay = day" (mouseleave)="inDay = null">
      <mat-icon *ngIf="day == inDay" style="color: black;"> add</mat-icon>.
    </button>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [cellTemplate]="customCellTemplate"
      [activeDayIsOpen]="activeDayIsOpen"
      [locale]="locale"
      (dayClicked)="dayClicked($event.day)"
      [refresh]="refresh"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
    >
    </mwl-calendar-day-view>
  </div>
</div>
