mwl-calendar-week-view{
    height: 100%;
}

.tmp{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dateButton{
    margin-right: 18px;
}

.text-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: scale(3);
}

.success {
    background: green;
    color: white;
}

.error {
    background: red;
    color: white;
}