<mat-icon class="backGround">monetization_on</mat-icon>

<h1> Számla részletei <mat-icon *ngIf="detailedInvoice.status == 'DONE'">done</mat-icon></h1>

<button mat-raised-button color="primary" 
        (click)="saveInvoice()" 
        class="saveButton" 
        [disabled]="invoiceForm.invalid || detailedInvoice.status == 'CLOSED' || detailedInvoice.status == 'DONE'"><mat-icon>save</mat-icon> Mentés </button>

<button mat-raised-button color="accent" 
        (click)="preViewInvoicePdf()" 
        class="saveButton" 
        [disabled]="detailedInvoice.id == null"
        matTooltip="Először hozza létre a számlát!"
        [matTooltipDisabled]="detailedInvoice.id != null"><mat-icon>visibility</mat-icon> Előnézet </button>

<button mat-raised-button color="primary" 
        (click)="closeInvoice()" 
        class="saveButton" 
        [disabled]="detailedInvoice.id == null || detailedInvoice.status == 'CLOSED' || detailedInvoice.status == 'DONE'"
        matTooltip="Először hozza létre a számlát!"
        [matTooltipDisabled]="detailedInvoice.id != null"><mat-icon>gavel</mat-icon> Lezárás </button>

<button mat-raised-button color="accent" 
        (click)="downloadInvoicePdf()" 
        class="saveButton" 
        [disabled]="detailedInvoice.id == null"
        matTooltip="Először hozza létre a számlát!"
        [matTooltipDisabled]="detailedInvoice.id != null"><mat-icon>get_app</mat-icon> Letöltés </button>

<button mat-raised-button color="primary" 
        (click)="openInvoice()" 
        class="saveButton" 
        [disabled]="detailedInvoice.status == 'OPEN' || detailedInvoice.status == 'DONE'"
        *ngIf="getAuthService().appUser.appUserGroup == 'ROLE_ADMIN'"
        matTooltip="Először hozza létre a számlát!"
        [matTooltipDisabled]="detailedInvoice.id != null"><mat-icon>edit</mat-icon> Megnyitás </button>

<button mat-raised-button color="primary" 
        (click)="invoiceIsPayed()" 
        class="saveButton"
        [disabled]="detailedInvoice.status == 'OPEN' || detailedInvoice.status == 'DONE'"
        *ngIf="getAuthService().appUser.appUserGroup == 'ROLE_ADMIN'"
        matTooltip="Először hozza létre a számlát!"
        [matTooltipDisabled]="detailedInvoice.id != null"><mat-icon>done</mat-icon> Teljesített </button>

<button mat-raised-button color="warn" 
        (click)="deleteInvoice()" 
        class="saveButton" 
        [disabled]="detailedInvoice.id == null || detailedInvoice.status == 'CLOSED'"
        matTooltip="Először hozza létre a számlát!"
        [matTooltipDisabled]="detailedInvoice.id != null"><mat-icon>delete</mat-icon> Törlés </button>

<form [formGroup]="invoiceForm">
  
    <div class="partnerAndDate">
      <div class="partner">
        <h3>Partner*</h3>
        <mat-form-field >
            <input type="text"
                   matInput
                   [formControl]="partner"
                   [matAutocomplete]="auto"
                   [(ngModel)]="detailedInvoice.partner">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let partner of filteredPartners | async" [value]="partner">
                {{partner.partnerName}}
              </mat-option>
            </mat-autocomplete>       
            <mat-error *ngIf="partner.errors?.required && (partner.dirty || partner.touched)"> Adja meg a partnert! </mat-error>
            <mat-error *ngIf="partner.errors?.noPartner && (partner.dirty || partner.touched)"> Nincs ilyen partner az adatbázisban! </mat-error>
        </mat-form-field>
      </div>
      <div class="dates">
        <div class="issueDate">
          <h3>Kiállítás dátuma*</h3>
          <mat-form-field>
            <input matInput [matDatepicker]="dp1" 
                  disabled 
                  [(ngModel)]="detailedInvoice.issueDate" 
                  name="issueDate"
                  formControlName="issueDate">
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="dueDate">
          <h3> Teljesítés dátuma* </h3>
          <mat-form-field>
            <input matInput [matDatepicker]="dp2" 
                    [min]="minDate" 
                    [(ngModel)]="detailedInvoice.dueDate" 
                    name="dueDate" 
                    formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
          <mat-error style="font-size: small;" *ngIf="date"> A teljesítés dátuma nem lehet a kiállítás előtt! </mat-error>
        </div>
      </div>
    </div>
  
    <div class="information">
        <div class="invoiceDescription">
          <h3>Megjegyzés</h3>
          <mat-form-field appearance="standard"> 
            <textarea matInput placeholder="Megjegyzés" 
                      [(ngModel)]="detailedInvoice.invoiceDescription" 
                      name="invoiceDescription" 
                      formControlName="invoiceDescription"></textarea>
            <mat-error *ngIf="invoiceDescription.errors?.maxlength && (invoiceDescription.dirty || invoiceDescription.touched)"> Maximum 100 karakter lehet! </mat-error>
          </mat-form-field>
        </div>
        <div class="vat">
          <h3>Adó*</h3>
          <mat-form-field appearance="standard">
              <input matInput placeholder="eg. 12"                    
                      name="vat" 
                      formControlName="vat" 
                      [(ngModel)]="detailedInvoice.vat"
                      [disabled]="detailedInvoice.status == 'CLOSED'" >
              <mat-error *ngIf="vat.errors?.required && (vat.dirty || vat.touched)"> Adja meg az adó mértékét! </mat-error>
              <mat-error *ngIf="vat.errors?.pattern && (vat.dirty || vat.touched)"> Csak számot tartalmazhat és nem kezdődhet 0-val! </mat-error>
              <mat-error *ngIf="vat.errors?.maxlength && (vat.dirty || vat.touched)"> Maximum 2 hosszú lehet! </mat-error>
          </mat-form-field>
        </div>
        <div>
          <h3>Fizetés módja*</h3>
          <mat-form-field appearance="standard">
            <mat-select [(ngModel)]="detailedInvoice.paymentType" formControlName="paymentType">
              <mat-option value="Készpénz">Készpénz</mat-option>
              <mat-option value="Átutalás">Átutalás</mat-option>
            </mat-select>
            <mat-error *ngIf="paymentType.errors?.required && (paymentType.dirty || paymentType.touched)"> Adja meg a teljesítés típusát! </mat-error>
          </mat-form-field>
        </div>
      </div>
  
      <div class="prices">
        <div class="totalPrice">
          <h2>
            Részösszeg(Nettó): {{ netWorth.toFixed(2) }} Ft
          </h2>
        </div>
        <div class="plusVat">
          <h2 style="color: red;">
            Áfa: {{ plusVat.toFixed(2) }} Ft
          </h2>
        </div>
        <div class="totalPriceWithVat">
          <h2 style="color: green; text-decoration: underline;">
            Végösszeg(Bruttó): {{ totalPrice.toFixed(2) }} Ft
          </h2>
        </div>
      </div>

</form>

<h1 style="text-align: center;"> Számla tételei </h1>

<button mat-raised-button 
        class="newButton" 
        (click)="openItemDialog()" 
        [disabled]="detailedInvoice.status == 'CLOSED' || detailedInvoice.status == 'DONE' || detailedInvoice.id == null"
        color="primary"
        matTooltip="Először hozza létre a számlát!"
        [matTooltipDisabled]="detailedInvoice.id != null"><mat-icon>add</mat-icon> Új tétel felvétele</button>

<div id="content" #content>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="myTable" #myTable>
  
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Termék / szolgáltatás</th>
      <td mat-cell *matCellDef="let invoiceItem"> 
        <a *ngIf="detailedInvoice.status == 'OPEN'" style="cursor: pointer;" (click)="openItemDialog(invoiceItem)">{{invoiceItem.product}}</a>
        <p *ngIf="detailedInvoice.status != 'OPEN'">{{invoiceItem.product}}</p>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mennyiség </th>
      <td mat-cell *matCellDef="let invoiceItem"> 
        <a *ngIf="detailedInvoice.status == 'OPEN'" style="cursor: pointer;" (click)="openItemDialog(invoiceItem)">{{invoiceItem.quantity}} {{invoiceItem.unit}}</a> 
        <p *ngIf="detailedInvoice.status != 'OPEN'">{{invoiceItem.quantity}} {{invoiceItem.unit}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Egységár </th>
      <td mat-cell *matCellDef="let invoiceItem"> 
        <a *ngIf="detailedInvoice.status == 'OPEN'" style="cursor: pointer;" (click)="openItemDialog(invoiceItem)">{{invoiceItem.price}} Ft</a> 
        <p *ngIf="detailedInvoice.status != 'OPEN'">{{invoiceItem.price}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Teljes Ár </th>
      <td mat-cell *matCellDef="let invoiceItem">
       <a *ngIf="detailedInvoice.status == 'OPEN'" style="cursor: pointer;" (click)="openItemDialog(invoiceItem)"> {{invoiceItem.quantity * invoiceItem.price}} Ft</a> 
       <p *ngIf="detailedInvoice.status != 'OPEN'">{{invoiceItem.quantity * invoiceItem.price}} Ft</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Leírás </th>
      <td mat-cell *matCellDef="let invoiceItem"> 
        <a *ngIf="detailedInvoice.status == 'OPEN'" style="cursor: pointer;" (click)="openItemDialog(invoiceItem)">{{invoiceItem.description}}</a> 
        <p *ngIf="detailedInvoice.status != 'OPEN'">{{invoiceItem.description}}</p>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
